# Note:
# There are .gitignore files in specific directories to handle those programs
/*

# Ignore Everything by default:
#   Whitelist
!.git*
!README.md
!install.sh
!/ansible/
!/Notes/
!/configs/
!/install_files/
!/rc_files/
!/scripts/
!/skeletons/
!/unused/

# Always Ignore
*.DS_Store
*.sw?
