*.swp
~*
*.swo
.netrwhist
*/.netrwhist
tags
api_keys/
*.api
.DS_Store
# Ignore vim special directories
*/vim/bundle*
!vim/bundle/Vundle.vim
vim/undodir/*
rc_files/vim/autoload/
rc_files/vim/plugged/
configs/yazi/plugins/
configs/yazi/flavors/
