*.sw?
~*
.netrwhist
*/.netrwhist
tags
.DS_Store
*.sqlite
# LOL No. Good try
api_keys/
*.api
# Ignore vim special directories
*/vim/bundle*
!vim/bundle/Vundle.vim
vim/undodir/*
rc_files/vim/autoload/
rc_files/vim/plugged/
configs/yazi/plugins/
configs/yazi/flavors/
rc_files/vim/after/
