# yazi.toml

[mgr]
ratio        = [1, 7, 4]
linemode     = "size_and_mtime"
show_symlink = true

[preview]
max_width     = 1600
max_height    = 1800
image_quality = 90
#image_delay   = 0

[tasks]
# Prevent too much memory being allocated for images
# limit single image memory allocation 
#image_alloc = 50000 # 1 MB
# Number of micro workers
micro_workers = 2
# Number of macro tasks
macro_workers = 2

# Make yazi a little faster 
# https://github.com/yazi-rs/plugins/tree/main/mime-ext.yazi
[[plugin.prepend_fetchers]]
id   = "mime"
name = "*"
run  = "mime-ext"
prio = "high"

[[plugin.prepend_fetchers]]
id   = "git"
name = "*"
run  = "git"

# https://github.com/AnirudhG07/nbpreview.yazi
[plugin]
prepend_previewers = [
    { name = "*.ipynb", run="nbpreview" },
    # Better media previewing with ffmpeg
    # Replace magick, image, video with mediainfo
    { mime = "{audio,video,image}/*", run = "mediainfo"},
    { mime = "application/subrip", run = "mediainfo" },
]

# Better media previewing with ffmpeg
# https://github.com/boydaihungst/mediainfo.yazi
# Requires that you install media info
#   yay -S mediainfo
#   brew install mediainfo
prepend_preloaders = [
    # Replace magick, image, video with mediainfo
    { mime = "{audio,video,image}/*", run = "mediainfo" },
    { mime = "application/subrip", run = "mediainfo" },
]
