# CRITICAL:
# If you are mounting to /foo/bar then the file name needs to be foo-bar.mount
#
# These are different links:
# https://www.freedesktop.org/software/systemd/man/latest/systemd-mount.html
# https://www.freedesktop.org/software/systemd/man/latest/systemd.mount.html
# https://man.archlinux.org/man/systemd.mount.5
#
# Accompany with an automount to allow on-demand or parallelized mounting
# This will save energy

[Unit]
Description=Some description of drive to mount
Documentation=man:systemd-mount(5) man:systemd.mount(5)

[Mount]
# Find with `lsblk -f`
What=/dev/disk/by-uuid/1abc234d-5efg-hi6j-k7lm-no8p9qrs0ruv
# See file naming scheme!
Where=/mnt/hdd
#Type=auto
Options=defaults
# Defaults are: async,auto,dev,exec,nouser,rw,suid
# RECOMMEND: noatime
#   Option speeds up drive. Atime is the access time, distinct from modify time
#   (mtime) and created time (ctime). This is usually unnecessary on modern
#   systemd but *can* create issues.
# See RedHat Guide:
# https://docs.redhat.com/en/documentation/red_hat_enterprise_linux/6/html/storage_administration_guide/sect-using_the_mount_command-mounting-options#sect-Using_the_mount_Command-Mounting-Options
# If drive takes longer than a minute to load, fail
TimeoutSec=1m
# File system will create directories if needed
#DirectoryMode=0755

[Install]
WantedBy=multi-user.target
